@{
    ViewData["Title"] = "Home Page";
}


<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        
        <h3 >fresh flowers</h3>
        <span > natural & beautiful flowers </span>
        <p  >We’re not just making flower arrangements . . . we’re creating memorable occasions.</p> 
        <a style="background-color:forestgreen; color:white;"asp-action="Index" asp-controller="Product" class="btn">shop now</a>
    </div>
    
</section>

<!-- home section ends -->



