@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1><br />
<style>
    body{
        margin-top: 200px;
        text-align: center;
    }

</style>
<h2>
Contacting Us <br />

If there are any questions regarding this privacy policy you may contact us using the information below. <br /> <br />

P.O. Box 2874 <br />
Eureka Springs, AR 72632 <br />
United States <br />
sales@maryflower.com <br />
(870) 931-3159.
</h2>
