@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products Page";
}

<style>
    body{
        margin-top: 50px;
    }
</style>
<section class="products" id="products">
   <h1 class="heading"> </h1>
   <div class="box-container">
     <div class="col-3">
         <div class="bg-success mt-3 p-3 text-white">
            <vc:small-cart />
         </div>
       
     </div>
      <partial name="_PartialViewProducts"/>
   </div>
</section>
