@model User

<style>
    body {
        margin-top: 100px;
    }
    div.center {
        text-align: center;
    }
</style>

<div class="center">
    <img style="height: 100px; width: auto;" src="~/css/succespay (2).png" alt="SuccessPay logo">
    <br />
    <h3 class="display-4">Thanks for your shopping!</h3>
</div>
